<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 15px;
    color: #686767;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}



#blog {
    top: 450px;
    font-family:Binggrae;
    background-color: #ebe4d5;
}

#projects {
    top: 510px;
    font-family:Binggrae;
    background-color: #d4efea;
}

#contact {
    top: 570px;
    font-family:Binggrae;
    background-color: #ffcfcb;
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  
  <a href="/post1/index" id="blog"><strong>그림 이야기</strong></a>
  <a href="#" id="projects"><strong>기타 이야기</strong></a>
  <a href="#" id="contact"><strong>아무 이야기</strong></a>
</div>


     
</body>
</html> 