<%= render "percent/common2" %>
<br><br><br><br>
<%= render "post1/navbar" %>

<div class="about_bg">
  <!--section tag 배경 -->
  <section class="story1">
      <div class="about_main">  
      <div class="about_main_inner"></div>
        <p>
            취미로써의 그림은 높은 진입 장벽, 고가의 미술 용품들, 과도한 시간 할애 <br> 
            등으로 일부의 사람들만 즐기는 <strong>딱딱한 취미</strong>처럼 이야기 되고 있습니다.<br><br><br>
            그렇지만 저희는 딱딱하고 진부하게 표현되는 그림에 대한 인식을 바꾸고자 합니다.<br>
            그림의 명암 효과가 어떻게 표현되었든, <br> 인체 비율이 어떻게 표현되었든, <br> 
            이런 부분보다도 그림이 가지는 원초적인 의미에 집중해보고자 합니다.<br><br><br>
            그림은 말, 글, 사진 등과 마찬가지로 사람 간의 생각, 느낌 등을<br>
            공유하고 전해줄 수 있는 일종의 표현 체계입니다.<br><br><br><br>
            <span style="font-size:20px">
            즉, 나의 생각이나 감정을 공유할 수 있는 <span style="color:#6aec6f">'매체로써의 그림의 의미'</span>를 되새겨드리고자 합니다.<br>
            나아가 저희는 많은 사람들의 하루에 <span style="color:#ffc107">'이러한 의미의 그림'</span>들이 가득하기를 그려봅니다.</span><br><br><br><br><br>
            <a href="#story2" class="carousel-position-three animate-delay btn-brd-white" data-animation="animated fadeInUp">More about 25%</a>
        </p>
        
      </div>
  </section>
  <!--구분하기--><div class="about_main_inner"></div>
    <!--section tag 배경2 -->
    <section name="story2" id="story2">
        <div class="about_main2">
             <div class="about_main_inner white"></div>
             <p>
                 그래서 저희는 그림에 대한 진입장벽을 낮추고 컨텐츠 중심의<br> 
                 <span style="color:#6aec6f">'그리고 싶은 것만 그릴 수 있도록'</span> 해주는 서비스를 지향합니다. <br><br><br>
                 누군가의 학창 시절 낙서의 향수를 불러일으키는 그림들, <br>
                 우리가 매일 보는 카카오톡 이모티콘의 캐릭터들, <br>
                 또 우리의 하루를 표현할 4컷 만화들 등<br> 엄청난 스킬이 아니더라도 <br>
                 우리의 생각과 감정을 타인들과 공유할 수 있도록, <br>
                 또는 나의 생각과 감정을 기록할 수 있도록<br> 
                <span style="color:#ffc107"> 여러분이 원하는 부분에 대해서만</span> 강좌를 손쉽게 접할 수 있기를 도와드립니다. <br><br><br>
                   <span style="font-size:20px">반드시 그림은 미술용 화지에 물감과 붓으로 그려야만 하는 것이 아닌<br>
                 누군가의 전공 서적의 빈 공간에 모나미 볼펜으로도 <br>
                 그릴 수 있는 것이 그림이라는 것을 강조하고자 합니다.<br><br><br><br></span>
                 <a href="/video_board1/index" class="carousel-position-three animate-delay btn-brd-white" data-animation="animated fadeInUp">강의 보러가기</a>
             </p>
        </div>
    </section>
</div>
<footer class="">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li>
                            <i class="fa fa-facebook"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fa fa-dribbble"></i>
                        </li>
                        <li>
                            <i class="fa fa-pinterest"></i>
                        </li>
                    </ul>
                    <hr>
                    <p>Designed with love by KeenThemes</a>  2014</p>
                    <h3 class="carousel slide carousel-position-one animate-delay carousel-title-v1" data-animation="animated fadeInDown">
                            25 Percent
                    </h3>
                </div>
            </div>
        </div>
    </footer>